* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  min-height: 100vh;
}
.top {
  width: 100%;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1523124259776-a58886111eb7?q=80&w=6000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D6000w);
  background-size: cover;
  background-position: center;
}
.top .overlay {
  position: relative;
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.293);
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 10vh;
  color: white;
  bottom: 5%;
}
.text h1 {
  font-weight: 600;
  font-size: 4vw;
}
.text .image {
  background-image: url(https://images.unsplash.com/photo-1519582149095-fe7d19b2a3d2?q=80&w=4000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D4000w);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 220px;
}
.rtext {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
.rtext p {
  font-size: 12px;
}
.bottom {
  display: flex;
  width: 100%;
  min-height: 40vh;
}
.b1 {
  width: 30%;
  min-height: inherit;
  background-image: url(https://images.unsplash.com/photo-1566438480900-0609be27a4be?q=80&w=3954&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D3954w);
  background-size: cover;
  background-position: center;
}
.b1 h1 {
  text-align: center;
  padding: 30px;
}
.b1 p {
  color: white;
  text-align: center;
  padding: 15px;
}
.b2 {
  width: 30%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}
.b2 .up {
  width: 100%;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1529524327705-88e58adad863?q=80&w=2916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D2916w);
  background-size: cover;
  background-position: center;
}
.b2 .up h1 {
  text-align: center;
  padding: 30px;
}
.b2 .up p {
  color: white;
  text-align: center;
  padding: 15px;
}
.b2 .down {
  width: 100%;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1613160058184-8fc2487dbf10?q=80&w=2916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D2916w);
  background-size: cover;
  background-position: center;
}
.b2 .down .overlay {
  position: relative;
  width: 100%;
  min-height: 20vh;
  background-color: rgba(255, 255, 255, 0.331);
}
.b3 {
  width: 40%;
  min-height: inherit;
  background-image: url(https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?q=80&w=3999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D3999w);
  background-size: cover;
  background-position: center;
}
.b3 .overlay {
  justify-content: right;
  position: relative;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  padding: 4vw 3vh;
}
.b3 .overlay p {
  padding: 1.2vh;
}

@media (max-width: 500px) {
  .text {
    flex-direction: column;
    align-items: flex-start;
  }
  .text h1 {
    font-size: 5vh;
  }
  .text .image {
    height: 200px;
    width: 140px;
    margin-top: 20px;
  }
  .rtext {
    flex-direction: column;
    align-items: flex-start;
  }
  .rtext p {
    margin: 10px;
  }
  .icons {
    margin-top: 10px;
  }
  .bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .b1 {
    width: 100%;
    min-height: 30vh;
  }
  .b2 {
    width: 100%;
  }
  .b2 .up {
    min-height: 30vh;
  }
  .b3 {
    width: 100%;
    min-height: 30vh;
    background-position: left;
  }
}

@media (max-width: 700px) {
  .rtext {
    flex-direction: column;
  }
  .b3 .overlay {
    width: 100%;
    margin-left: initial;
  }
}
